<ul *ngIf="data">
  <mat-card class="exampleCard" *ngFor="let item of data">
    <!-- 장소등록페이지면    -->
    <!-- <div *ngIf="delete_active" class="exampleButtonContainer">
      <button
        (click)="parentDeleteReq(item.id)"
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>X</mat-icon>
      </button>
    </div> -->
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          mat-card-image
          *ngIf="item.img; else loading"
          [attr.src]="item.img"
        />
        <ng-template #loading>이미지 없음</ng-template>
      </div>
    </div>
    <div class="textBox">
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-content>
        <p>별점예정</p>
        <div class="category">
          {{ item.category }}
        </div>
      </mat-card-content>
      <mat-card-actions class="buttonBox">
        <button *ngIf="!delete_active" mat-raised-button color="primary">투표하기</button>
        <button (click)="parentDetailReq(item.id)" mat-flat-button color="accent">상세보기</button>
      </mat-card-actions>
    </div>
  </mat-card>
</ul>
