ul {
  display: flex;
  justify-content: center;
}

.exampleCard {
  width: 209px;
  height: 316px;
  margin-left: 20px;
  margin-right: 24px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  background-color: #f6f6f6;
  box-shadow: none;
}

.exampleButtonContainers {
  position: absolute;
  z-index: 99;
  right: -10%;
  top: -5%;
}

.imgBoxOne {
  position: relative;
  top: 4%;
  left: 7.5%;
  width: 178px;
  height: 171px;
  background-color: #d8cbf6;
  border-radius: 40px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.imgBoxTwo {
  position: absolute;
  top: 3%;
  left: 0.2%;
  width: 168px;
  height: 162px;
  background-color: #e2f3d1;
  border-radius: 40px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.imgBoxOne .imgBoxTwo img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 158px;
  height: 153px;
}

.textBox {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card-title {
  font-size: 1.3rem;
  margin-bottom: 4px;
  text-align: center;
}
p {
  text-align: center;
  line-height: 0px;
}
.category {
  font-size: 0.7rem;
  width: 4.5em;
  padding: 0.05em;
  color: #53595F;
  border-radius:30px;
  background: rgba(18, 170, 115, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonBox button{
  width : 5.5em;
  padding: 1em 0.1em;
  font-size: 1rem;
  margin: 0 5px;
  box-shadow: none;
}