ul {
  height: 404px;
  width: 1440px;
  overflow-y: hidden;
  display: flex;
  /*background-color: blue;*/
}

ul::before{
  content: '';
  position:absolute;
  z-index: 99;
  top:30px;
  right:0;
  width: 10px;
  height: 373px;
  background: transparent;
  border: 0;
}

ul::-webkit-scrollbar{
  width:10px;
  height: 3px;
  opacity: 0;
}

ul::-webkit-scrollbar-thumb{
  background: silver; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

ul::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
}

.exampleCard {
  flex: 0 0 auto; /* 각 카드의 크기를 자동으로 설정하여 고정된 너비를 가짐 */
  width: 209px; /* 원하는 너비 */
  height: 316px;
  margin: 60px 15px; /* 여백 추가 */
  /*border-radius: 10px;*/
  border: 1px solid #e3e3e3;
  /*background-color: #ffffff;*/
  background-color: #fbfbfb;
  box-shadow: none;
  /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
  position: relative;
  /*animation: represent 1s ease-in-out alternate*/
}

.exampleButtonContainer{
  position: absolute;
  z-index: 99;
  top:-20px;
  right: -18px;

}
.exampleButtonContainer button{
  width: 37px;
  height:40px;
  font-size: 20px;
  font-weight: bold;
}

.imgBoxOne {
  position: relative;
  top: 3%;
  left: 7.5%;
  width: 178px;
  height: 171px;
  background-color: #d8cbf6;
  border-radius: 40px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.imgBoxTwo {
  position: absolute;
  top: 3%;
  left: 0.2%;
  width: 168px;
  height: 162px;
  background-color: #e2f3d1;
  border-radius: 40px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBoxOne .imgBoxTwo img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 158px;
  height: 153px;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.textBox h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}
p {
  text-align: center;
  line-height: 0px;
}
.category {
  font-size: 14px;
  color: #53595F;
  border-radius:30px;
  background: rgba(18, 170, 115, 0.18);
  display: inline-block;
  text-align: center;
  padding: 1px 5px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.buttonBox button{
  width : 5.2em;
  padding: 1em 0.1em;
  font-size: 1rem;
  margin: 0 5px;
  box-shadow: none;
}

.starBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.starBox img{
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

@keyframes represent {
  0% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px,0px);
  }
}
