<ul *ngIf="data && show" appScrollEvent>
  <mat-card class="exampleCard " *ngFor="let item of data">
    <!-- 장소등록페이지면    -->
    <div *ngIf="show && pageStatus" class="exampleButtonContainer">
      <button
        (click)="parentDeleteReq(item.id)"
        mat-fab
        color="warn"
        aria-label="Example icon button with a delete icon"
      >
        X
      </button>
    </div>
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          mat-card-image
          *ngIf="item.img; else loading"
          [attr.src]="item.img"
        />
        <ng-template #loading >이미지 없음</ng-template>
      </div>
    </div>
    <div class="textBox">
      <h2>{{ item.title }}</h2>
      <mat-card-content>
        <div class="starBox">
          <img src="app/assets/starFill.png" alt="foodRainOne"/>
          <span>4</span>
        </div>
        <div class="category">
          {{ item.category }}
        </div>
      </mat-card-content>
      <mat-card-actions class="buttonBox">
        <button
          *ngIf="show && !voteItemId && !pageStatus"
          mat-raised-button color="primary"
          (click)="voteClickStatusHandler(item.id)">
          투표하기
        </button>
        <button
          mat-raised-button color="primary"
          *ngIf="show && voteItemId && !pageStatus"
          (click)="voteClickStatusHandler(item.id)"
        >
          투표하기
        </button>
        <button (click)="parentReq(item.id)"  mat-flat-button color="accent">상세보기</button >
      </mat-card-actions>
    </div>
  </mat-card>
</ul>
