<main>
  <app-nav></app-nav>
  <section>
    <div class="section001">
      <div class="subTitleBox" >
        <app-sub-title>
          <h2>내가 투표한 장소</h2>
        </app-sub-title>
      </div>
      <div class="myVote">
        <img src="app/assets/foodRainOne.jpg" alt="foodRainOne" />
        <div class="description">
          <h2>흑도야지</h2>
          <p>별점예정</p>
          <div class="category">육류, 고기</div>
          <p>
            매일
            <br />
            10:30 ~ 21:00
          </p>
          <p>
            매일 휴게시간
            <br />
            15:30 ~ 17:00
          </p>
          <mat-card-actions class="buttonBox">
            <button mat-raised-button color="primary">투표하기</button>
            <button mat-flat-button color="accent">상세보기</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
    <div class="section002">
      <div class="subTitleBox">
        <app-sub-title>
          <h2>투표 순위</h2>
        </app-sub-title>
      </div>
      <ul>
        <app-rank-card />
      </ul>
    </div>
    <div class="section003">
      <div class="subTitleBox">
        <app-sub-title>
          <h2>지난 투표 결과</h2>
        </app-sub-title>
      </div>
      <ul class="reviewBox">
        <app-review-card />
        <app-review-card />
        <app-review-card />
      </ul>
    </div>
  </section>
    <div class="subTitleBox">
      <app-sub-title>
        <h2>투표 장소</h2>
      </app-sub-title>
    </div>
    <div class="locationContainer">
    <app-card
    [data]="data"
    (detail_item_id)="locationDetail($event)"
    (status)="modalStatusChange($event)"
    >
    </app-card>
    </div>


    <div *ngIf="status">
      <app-modal
        [width]='975'
        [height]='805'
        (pathMove) = 'pathMove($event)'
      >
        <router-outlet></router-outlet>
      </app-modal>
    </div>
</main>
