main{
  height: 1024px;
  overflow: hidden;
}
.foodRain{
  overflow: hidden;
}

.mainContainer{
  animation: represent 0.5s ease-in-out alternate;
}

@keyframes represent {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px,0px);
  }
}

.closeMessage{
  margin: 100px auto;
  margin-bottom: 140px;
  text-align: center;
  height: 42px;
  animation: represent 1s ease-in-out alternate;
}

.closeMessage h1{
  font-size: 80px;
  font-weight: bold;
  padding-top: 30px;
}

.closeMessage p{
  font-size: 18px;
  color:#4D5959;
  padding-top: 30px;
}

h2{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



section{
  height: 60%;
  display: flex;
  justify-content: space-around;
  transform: translate(0px,-32px);
}

.section001{
  transform: translate(-7px,132px);
}

.myVote{
  width: 437px;
  height: 316px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  background-color: #fbfbfb;
}

.myVote .myVoteImg{
  width: 200px;
  height: 280px;
  transform: translate(20px,20px);
}

.starBox{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px,-10px);
}
.starBox img{
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.myVote .description{
  transform: translate(26px,30px);
  text-align: center;
}

.description h2{
  font-size: 28px;
}

.description .category {
  font-size: 0.7rem;
  width: 6em;
  padding: 0.05em;
  color: #53595F;
  border-radius:30px;
  background: rgba(18, 170, 115, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;
}
.description p{
  font-size: 15px;
  font-weight:400;
}

.subTitleBox{
  text-align: center;
  transform: translate(0px,-45px);
}
.subTitleBox.voteLocation{
  text-align: center;
  transform: translate(0px,-102px);
}

.locationContainer{
    display: flex;
    justify-content: center;
    transform: translate(0px,-134px);
}

.myVoteEmpty .myVote{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF0F2;
}
.myVoteEmpty .myVote h3{
  font-size: 30px;
}

.rankTopBox{
  transform: translate(130px,-30px);
}

/* ------------ */
.section002{
  transform: translate(10px,133px);
}

.section002 .realTimeBox{
  width: 320px;
  height: 130px;
  background-color: #EFF0F2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transform: translate(-20px,70px);
}

.section002 .realTimeBox h2{
  font-size: 65px;
  font-weight: bold;
}
.section002 p{
  font-size: 24px;
  color:#4D5959;
  text-align: center;
  padding-top: 16px;
  transform: translate(-20px,70px);
}

.section003{
  transform: translate(-100px,100px);
}
.section003 .subTitleBox{
  transform: translate(100px,-10px);
}

.buttonBox button{
  width : 5.5em;
  padding: 1em 0.1em;
  font-size: 1rem;
  margin:  5px;
  box-shadow: none;
}

.confirm{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: -20px;
}

.modalConfirm{
  font-size: 25px;
  padding : 30px 10px;
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #00CAD1;
}

.questionBox{
  background-color: #D7E9FF;
  width:100px;
  height:100px;
  border-radius: 50%;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.realTime{
  animation: represent 1s ease-in-out alternate;
}

@keyframes represent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*투표종료시 지난 투표 결과 배치를위한 위치*/
.section003-voteTerminate{
  transform: translate(-250px,80px);
}
.section003-voteTerminate .subTitleBox{
  transform: translate(100px,-26px);
}
