<nav>
  <div class="title-box">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      viewBox="0 0 60 60"
      fill="none"
    >
      <path
        d="M60 24.917C60 38.6782 46.5685 36.1296 30 36.1296C13.4315 36.1296 0 38.6782 0 24.917C0 11.1557 13.4315 0 30 0C46.5685 0 60 11.1557 60 24.917Z"
        fill="#64EC42"
      />
      <rect
        x="3"
        y="41.0527"
        width="54"
        height="18.9474"
        rx="9"
        fill="#64EC42"
      />
    </svg>
    <h1 class="title">
      <a routerLink="/home">Today Meal</a>
    </h1>
  </div>
  <ul class="menu-box">
    <li routerLinkActive="active"><a routerLink="/home">홈</a></li>
    <li routerLinkActive="active"><a routerLink="/location">장소관리</a></li>
    <li routerLinkActive="active"><a routerLink="/mypage">마이페이지</a></li>
    <li routerLinkActive="active" (click)="logoutModalHandler()">로그아웃</li>
  </ul>
</nav>
<app-modal
  [width]="456"
  [height]="288"
  [status]="status"
  (close)="closeHandler($event)"
>
  <div class="questionBox">
    ?
  </div>
  <h2>로그아웃 하시겠습니까?</h2>
  <button class="modalConfirm" mat-raised-button
    (click)="logOutHandler()"
  >로그아웃</button>
</app-modal>
