.subTitleBox{
  position: relative;
  display: inline-block;
  /* background-color: red; */
}

img{
  position: absolute;
  top:-12px;
  left:-33px;
  width: 30px;
}
.subTitle {
  border-bottom: 10px;
  display: inline-block; /* 추가 */
  position: relative;
  white-space: nowrap; /* 추가 */
  width: auto; /* 수정 */
}
.subTitle::after {
  content: "";
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 8px;
  bottom: -5px;
  left: -1px;
  border-radius: 50px;
  background-color: #FBE0DC;
  animation: represent 2s ease-in-out infinite alternate;
}

h2 {
  font-weight: 700;
  width: 100%;
  font-size: 35px;
}

@keyframes represent {
  0% {
    background-color: #FBE0DC;
  }
  100% {
    background-color: #4fe94c;
  }
}
