<li class="rankBox">
  <img src="app/assets/card.png" alt="card" />
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card" />
  </div>
  <h3 class="rank">#1</h3>
  <h3 class="title">가츠몽</h3>
  <p class="voteCount">투표 수 : 5</p>
  <div class="category">일식</div>
</li>
<li class="rankBox">
  <img src="app/assets/card.png" alt="card" />
  <div class="imgBox">
    <img src="app/assets/location1.jpg" alt="card" />
  </div>
  <h3 class="rank">#2</h3>
  <h3 class="title">이태리 부대찌개</h3>
  <p class="voteCount">투표 수 : 3</p>
  <div class="category">찌개,전골</div>
</li>
<li class="rankBox">
  <img src="app/assets/card.png" alt="card" />
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card" />
  </div>
  <h3 class="rank">#3</h3>
  <h3 class="title">흑도야지</h3>
  <p class="voteCount">투표 수 : 2</p>
  <div class="category">육류, 고기</div>
</li>


