<div class="signupContent">
  <h1>회원가입</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <span>이름</span>
    <mat-form-field appearance="fill">
      <mat-label>이름을 입력해주세요.</mat-label>
      <input matInput id="name" name="name" ngModel/>
    </mat-form-field>
    <span>아이디</span>
    <span
      *ngIf="id.invalid && (id.dirty || id.touched)"
      style="color: red"
    >
      3글자 이상 작성해주세요.
    </span>
    <mat-form-field appearance="fill">
      <mat-label>아이디를 입력해주세요(3글자 이상)</mat-label>
      <input
        matInput id="id"
        name="id"
        ngModel
        minlength="3"
        #id="ngModel"
      />
    </mat-form-field>
    <button
      (click)="duplicateTest()"
      class="duplicationButton"
      mat-flat-button
      color="accent"
    >중복검사
    </button>
    <span>비밀번호</span>
    <span
      *ngIf="password.invalid && (password.dirty || password.touched)"
      style="color: red"
    >
      10글자 이상 특수문자를 포함시켜주세요.
    </span>
    <mat-form-field>
      <mat-label>비밀번호를 입력해주세요(10글자 이상, 특수문자 포함)</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        type="password"
        id="password"
        name="password"
        ngModel
        (ngModelChange)="passwordCompare_1($event)"
        pattern="^(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]).{10,}$"
        #password="ngModel"
      />
    </mat-form-field>
    <span>비밀번호 확인</span>
    <span
      *ngIf="!passwordConfirm && (password_2.dirty || password_2.touched)"
      style="color: red"
    >
      비밀번호가 일치하지 않습니다.
    </span>
    <mat-form-field>
      <mat-label>비밀번호를 입력해주세요.</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        type="password"
        id="password_2"
        name="password_2"
        ngModel
        #password_2="ngModel"
        (ngModelChange)="passwordCompare_2($event)"
      />
    </mat-form-field>
    <br/>
    <button
      mat-raised-button
      class="generateButton"
      color="accent"
    >계정 생성하기
    </button>
  </form>
  <a>이미 계정이 있으신가요? 로그인</a>
</div>
