.timeCount{
  width:241px;
  height:101px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px auto;
  background-color: #F4F4F4;
  border-radius: 55px;
  box-shadow: -8px -8px 20px rgba(255, 255, 255, 1), 8px 8px 20px rgba(0, 0, 0, 0.10), -8px -8px 20px rgba(255, 255, 255, 0.5), 8px 8px 20px rgba(255, 255, 255, 0.01);
  padding: 0 20px;
}
.timeCount span{
  font-size: 60px;
  font-weight: bold;
  color : #8256de;
}
