.timer{
  width:149px;
  height:28px;
  background-color:#06090F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.timer svg{
  margin-right: 8px;
  margin-bottom: 4px;
}

.timer span{
  font-size: 16px;
  color:#FFFFFF;
  font-weight: bold;
  margin-top: 4px;
}
