<div class="signInContent">
  <h1>로그인</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <span>아이디</span>
    <mat-form-field appearance="fill">
      <input
        matInput
        id="id"
        name="id"
        ngModel
        placeholder="아이디입력"
        #id="ngModel"
      />
    </mat-form-field>
    <span>비밀번호</span>
    <mat-form-field>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        ngModel
        placeholder="패스워드입력"
        #password="ngModel"
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      class="signInButton"
      color="accent"
    >로그인
    </button>
  </form>
  <p *ngIf="errorStatus">계정과 비밀번호를 다시 한번 확인해주세요.</p>
  <a routerLink="/start/signup">계정이 없으신가요? 회원가입</a>
</div>
