.starRating {
  display: flex;
}
li{
  padding: 10px 20px;
  border-bottom: 1px solid #DDD9D9;
}
.star img{
  width:24px;
  height:24px;
  margin-bottom: 10px;
}

.starRating span{
  font-size: 20px;
  font-weight: 600;
  color:#5A5A5A;
  padding-top: 2.3px;
  padding-left: 4px;
}

.name, .date{
  font-size: 20px;
  color:#838383;
}

.name {
  padding-right: 20px;
}

.textBox{
  font-size:18px;
  margin-top:10px;
}
