.content{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
}

.title-box{
    width:50%;
    height:100%;
    position: relative;
}
.title-box h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Hi Melody";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    line-height: 130px;
}
.sign-box{
    border-left: 1px dotted;
    width:50%;
    height: 100%;
    position: relative;
}