.register-container{
    margin-top: 23px;
    display: flex;
}

.subTitleBox{
    transform: translate(40px);
    margin-bottom: 20px;
}

.subTitleBox h2{
    font-size:35px;
    font-weight: bold;
}

.registerContent .searchResult{
    width:341px;
    height: 357px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: auto;
}

.registerContent{
    transform: translate(-190px,0);
    display: flex;
    align-items: center;
}

.registerContent .mapBox{
    transform: translate(30px,40px);
    width: 681px;
    height: 415px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.delete-container{
    margin-left: 10px;
}

.deleteMessage{
    font-size: 28px;
    transform: translate(0%,220%);
    text-align: center;
    line-height: 34px;
}

.delete-content{
    width: 293px;
    height: 378px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 47px;
}
.locationContainer{
    margin-top: 50px;
}

.delete-content{
    overflow-y: scroll;
}