.textBox{
    display: flex;
    justify-content: space-between;
}

.subTitleBoxOne{
    transform: translate(100px,45px);
}
.subTitleBoxTwo{
    transform: translate(-70px,45px);
}
.subTitleBoxThird{
    transform: translate(60px,20px);
}

 h2{
    font-size:35px;
    font-weight: bold;
}

.registerContent .searchResult{
    width:341px;
    height: 357px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: auto;
}

.registerContent{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.registerContent .mapBox{
    transform: translate(30px,40px);
    width: 681px;
    height: 415px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.delete-container{
    margin-left: 10px;
}

.deleteMessage{
    font-size: 28px;
    text-align: center;
    line-height: 34px;
    width: 230px;
    display:flex;
    transform: translate(30px,150px);
}

.delete-content{
    width: 293px;
    height: 378px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 47px;
    margin-top: 40px;
}
.locationContainer{
    margin-top: 30px;
    padding-top:30px;
    display: flex;
    overflow: auto;
}

.delete-content{
    overflow-y: scroll;
}
