<app-nav></app-nav>
<div class="register-container">
  <div class="register-content">
    <h1>장소 등록하기</h1>
    <app-kakao-form></app-kakao-form>
    <div class="map-box">
        <app-kakao-api></app-kakao-api>
    </div>
  </div>
  <div class="delete-container">
    <h1>오늘 삭제 예정인 장소</h1>
    <div class="delete-content">
      <app-delete-loading-list 
      (cancel_item_id)="loadingCancel($event)"
      [loadingData]="loadingData"
      >
      </app-delete-loading-list>
    </div>
  </div>
</div>
<div class="location-container">
  <h1>장소</h1>
  <app-card 
    [data]="data" 
    [delete_active]="delete_active"
    (delete_item_id)="locationDelete($event)"
    (detail_item_id)="locationDetail($event)"
  >
  </app-card>
</div>