.textBox{
    display: flex;
    justify-content: space-between;
}

.subTitleBoxOne{
    transform: translate(65px,45px);
}
.subTitleBoxTwo{
    transform: translate(-34px,45px);
}
.subTitleBoxThird{
    transform: translate(60px,10px);
}

h2{
    font-size:35px;
    font-weight: bold;
}
.registerContent{
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.registerContent .searchResult{
    width:360px;
    height: 357px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.registerContent .mapBox{
    transform: translate(30px,40px);
    width: 681px;
    height: 415px;
    overflow: hidden;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.delete-container{
    margin-left: 10px;
}

.deleteMessage{
    font-size: 28px;
    text-align: center;
    line-height: 34px;
    width: 230px;
    display:flex;
    transform: translate(30px,150px);
}

.delete-content{
    width: 293px;
    height: 378px;
    border: 1px solid #E3E3E3;
    background-color: #EFF0F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 47px;
    margin-top: 40px;
}
.locationContainer{
  display: flex;
  justify-content: center;
}

.delete-content{
    overflow-y: scroll;
}

.delete-content::-webkit-scrollbar{
  width:10px;
}

.delete-content::-webkit-scrollbar-thumb{
  background: silver; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.delete-content::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
}

/* ----------- */
/* 모달 내부 스타일링*/
h3{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: -20px;
}
p{
    text-align: center;
    font-size: 20px;
    color : #838383;
}

.modalConfirm{
  font-size: 25px;
  padding : 20px 10px;

  transform: translate(188px,10px);
}

.questionBox{
  background-color: #D7E9FF;
  width:80px;
  height:80px;
  border-radius: 50%;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
