.rect {
  width: 140px;
  height: 259px;
  transform: translate(0, 57px);
  padding-right: 15px;
}

.container{
  display: flex;
  transform: translate(110px, 25px);
}

.reviewCardBox svg {
  transform: translate(100px, -350px);
  font-size: 20px;
}

.reviewCardBox h3 {
  transform: translate(37px, -220px);
  font-size: 20px;
  font-weight: bold;
}

.starBox{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px,-235px);
}
.starBox img{
  width: 20px;
  height: 20px;
  padding-right: 5px;
}


.reviewCardBox p {
  transform: translate(45px, -254px);
  font-size: 16px;
}

.category {
  font-size: 0.7rem;
  width: 6em;
  padding: 0.05em;
  color: #53595f;
  border-radius: 30px;
  background: rgba(18, 170, 115, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform: translate(0px, -230px);
}

.imgBoxOne {
  transform: translate(10px, -200px);
  width: 118px;
  height: 111px;
}

.imgBoxOne img {
  transform: translate(0.3px, 3.3px);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

 button {
  padding:3px 5px;
  font-size: 16px;
  box-shadow: none;
   transform: translate(37px,-220px);
   font-weight: bold;
   border: 1px solid #D0D5DD;
}
