<ul class="container">
  <li class="reviewCardBox" *ngFor="let item of [1,1,1]">
    <img src="app/assets/rectangle.png" alt="card" />
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          src="app/assets/foodRainOne.jpg"
        />
      </div>
    </div>
    <h2>1/1(3일전)</h2>
    <h3>흑도야지</h3>
    <p>별점예정</p>
    <div class="category">육류, 고기</div>
    <mat-card-actions class="buttonBox">
      <button
        mat-flat-button
        color="accent"
        (click)="open()"
      >리뷰쓰기</button>
    </mat-card-actions>
  </li>
</ul>
