<ul class="container">
  <li class="reviewCardBox">
    <img class="rect" src="app/assets/rect.png" alt="card" />
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          src="app/assets/reviewOne.jpg"
        />
      </div>
    </div>
    <h2>2/16(5일전)</h2>
    <h3>가츠몽</h3>
    <div class="starBox">
      <img src="app/assets/starFill.png" alt="foodRainOne"/>
      <span>3</span>
    </div>
    <div class="category">일식</div>
      <button
        mat-flat-button
        color="accent"
        (click)="open('24531540')"
      >리뷰쓰기</button>
  </li>
  <li class="reviewCardBox">
    <img class="rect" src="app/assets/rect.png" alt="card" />
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          src="app/assets/reviewTwo.jpg"
        />
      </div>
    </div>
    <h2>2/19(2일전)</h2>
    <h3>흑도야지</h3>
    <div class="starBox">
      <img src="app/assets/starFill.png" alt="foodRainOne"/>
      <span>5</span>
    </div>
    <div class="category">육류, 고기</div>
      <button
        mat-flat-button
        color="accent"
        (click)="open('803977050')"
      >리뷰쓰기</button>
  </li>
  <li class="reviewCardBox">
    <img class="rect" src="app/assets/rect.png" alt="card" />
    <div class="imgBoxOne">
      <div class="imgBoxTwo">
        <img
          src="app/assets/reviewThird.jpg"
        />
      </div>
    </div>
    <h2>2/20(1일전)</h2>
    <h3>소한마리</h3>
    <div class="starBox">
      <img src="app/assets/starFill.png" alt="foodRainOne"/>
      <span>4</span>
    </div>
    <div class="category">육류, 고기</div>
      <button
        mat-flat-button
        color="accent"
        (click)="open('8137464')"
      >리뷰쓰기</button>
  </li>
</ul>

<ng-container>
  <div class="reviewRegister" #modalContent>
    <h1>리뷰작성하기</h1>
    <div class="location">
<!--      <img [src]='item[0].img'  />-->
<!--      <h3>{{item[0].title}}</h3>-->
<!--      <span>{{item[0].date}}</span>-->
    </div>
    <div class="content">
      <h2>별점을 입력해주세요.</h2>
      <div class="starBox">
        <app-star></app-star>
      </div>
      <h2>어떤 점이 좋았나요?</h2>
      <mat-form-field>
        <mat-label>최소 10자 이상 입력해주세요.</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button
        mat-flat-button
        color="accent"
      >등록하기</button>
    </div>
  </div>
</ng-container>
