<!--<li *ngFor="let index of [1, 2, 3, 4, 5]">-->
<li>
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card"/>
    <h2>가츠몽</h2>
  </div>
  <div class="descBox">
    <div class="updateBox">
      <span class="date">23.01.02</span>
      <span class="update">수정</span>
      <span class="del">삭제</span>
    </div>
    <div class="starRating">
      <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
        <img *ngIf="index <= 4" src="app/assets/starFill2.png"/>
        <img *ngIf="index > 4" src="app/assets/starEmpty2.png"/>
      </div>
      <span>4</span>
    </div>
    <p class="textBox">
      회사 종무식 장소로 선택된 흑도야지! 종무식 1시부터 시작이라 점심 장사 후 통으로 빌린거 같아요. 그...
    </p>
    <span class="textAdd">
    더보기
      <img src="app/assets/reviewAdd.png"/>
  </span>
  </div>
</li>
<!--<li *ngFor="let index of [1, 2, 3, 4, 5]">-->
<li>
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card"/>
    <h2>가츠몽</h2>
  </div>
  <div class="descBox">
    <div class="updateBox">
      <span class="date">23.01.02</span>
      <span class="update">수정</span>
      <span class="del">삭제</span>
    </div>
    <div class="starRating">
      <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
        <img *ngIf="index <= 4" src="app/assets/starFill2.png"/>
        <img *ngIf="index > 4" src="app/assets/starEmpty2.png"/>
      </div>
      <span>4</span>
    </div>
    <p class="textBox">
      회사 종무식 장소로 선택된 흑도야지! 종무식 1시부터 시작이라 점심 장사 후 통으로 빌린거 같아요. 그...
    </p>
    <span class="textAdd">
    더보기
      <img src="app/assets/reviewAdd.png"/>
  </span>
  </div>
</li>
<!--<li *ngFor="let index of [1, 2, 3, 4, 5]">-->
<li>
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card"/>
    <h2>가츠몽</h2>
  </div>
  <div class="descBox">
    <div class="updateBox">
      <span class="date">23.01.02</span>
      <span class="update">수정</span>
      <span class="del">삭제</span>
    </div>
    <div class="starRating">
      <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
        <img *ngIf="index <= 4" src="app/assets/starFill2.png"/>
        <img *ngIf="index > 4" src="app/assets/starEmpty2.png"/>
      </div>
      <span>4</span>
    </div>
    <p class="textBox">
      회사 종무식 장소로 선택된 흑도야지! 종무식 1시부터 시작이라 점심 장사 후 통으로 빌린거 같아요. 그...
    </p>
    <span class="textAdd">
    더보기
      <img src="app/assets/reviewAdd.png"/>
  </span>
  </div>
</li>
<!--<li *ngFor="let index of [1, 2, 3, 4, 5]">-->
<li>
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card"/>
    <h2>가츠몽</h2>
  </div>
  <div class="descBox">
    <div class="updateBox">
      <span class="date">23.01.02</span>
      <span class="update">수정</span>
      <span class="del">삭제</span>
    </div>
    <div class="starRating">
      <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
        <img *ngIf="index <= 4" src="app/assets/starFill2.png"/>
        <img *ngIf="index > 4" src="app/assets/starEmpty2.png"/>
      </div>
      <span>4</span>
    </div>
    <p class="textBox">
      회사 종무식 장소로 선택된 흑도야지! 종무식 1시부터 시작이라 점심 장사 후 통으로 빌린거 같아요. 그...
    </p>
    <span class="textAdd">
    더보기
      <img src="app/assets/reviewAdd.png"/>
  </span>
  </div>
</li>
<!--<li *ngFor="let index of [1, 2, 3, 4, 5]">-->
<li>
  <div class="imgBox">
    <img src="app/assets/reviewOne.jpg" alt="card"/>
    <h2>가츠몽</h2>
  </div>
  <div class="descBox">
    <div class="updateBox">
      <span class="date">23.01.02</span>
      <span class="update">수정</span>
      <span class="del">삭제</span>
    </div>
    <div class="starRating">
      <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
        <img *ngIf="index <= 4" src="app/assets/starFill2.png"/>
        <img *ngIf="index > 4" src="app/assets/starEmpty2.png"/>
      </div>
      <span>4</span>
    </div>
    <p class="textBox">
      회사 종무식 장소로 선택된 흑도야지! 종무식 1시부터 시작이라 점심 장사 후 통으로 빌린거 같아요. 그...
    </p>
    <span class="textAdd">
    더보기
      <img src="app/assets/reviewAdd.png"/>
  </span>
  </div>
</li>


