<div class="reviewRegister">
  <h1>리뷰작성하기</h1>
  <div class="location">
    <img src="app/assets/foodRainOne.jpg" />
    <h3>흑도야지</h3>
    <span>1/1</span>
  </div>
  <div class="content">
    <h2>별점을 입력해주세요.</h2>
    <div class="starBox">
      <app-star></app-star>
    </div>
    <h2>어떤 점이 좋았나요?</h2>
    <mat-form-field>
      <mat-label>최소 10자 이상 입력해주세요.</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button
      mat-flat-button
      color="accent"
    >등록하기</button>
  </div>

</div>

