form {
  position: relative;
}

mat-form-field {
  width: 100%;
}
mat-form-field mat-label {
  font-size: 20px;
  color: #838383;
}
mat-form-field input {
  font-size: 20px;
}
form button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 4px;
  border: 0;
  background: transparent;
  font-size: 28px;
}
.notSearch {
  font-size: 28px;
  text-align: center;
  line-height: 34px;
  width: 180px;
  display: flex;
  transform: translate(80px, 70px);
}
