<div class="option">
  <div>
    <form (ngSubmit)="searchPlaces(f)" #f="ngForm">
      <mat-form-field>
        <mat-label>장소를 검색해주세요.</mat-label>
        <input
          matInput
          type="text"
          id="keyword"
          size="15"
          name="title"
          ngModel
        />
      </mat-form-field>
      <button type="submit">🔍</button>
    </form>
  </div>
</div>
<ul class="resultList">
  <div *ngIf="place.length == 0" class="notSearch">검색된 장소가 없습니다.</div>
  <app-search-list *ngFor="let item of place; let i = index;" [idx]="i" [data]="item"></app-search-list>
</ul>
