<app-nav></app-nav>
<div class="textBox">
  <div class="subTitleBoxOne">
    <app-sub-title>
      <h2>➕장소 등록하기</h2>
    </app-sub-title>
  </div>
  <div class="subTitleBoxTwo">
    <app-sub-title>
      <h2>🗑️삭제 예정인 장소</h2>
    </app-sub-title>
  </div>
</div>
<div class="registerContent">
  <div class="searchResult">
    <app-kakao-form (regiDataStatus)="getData()" ></app-kakao-form>
  </div>
  <div class="mapBox">
    <app-kakao-map></app-kakao-map>
  </div>
  <div class="delete-container">
    <div class="delete-content">
      <div class="deleteMessage" *ngIf="loadingData.length == 0">
        삭제 예정인 장소가 없습니다.
      </div>
      <app-delete-loading-list
        (cancel_item_id)="loadingCancel($event)"
        [loadingData]="loadingData"
      >
      </app-delete-loading-list>
    </div>
  </div>
</div>
<div class="subTitleBoxThird">
  <app-sub-title>
    <h2>장소 리스트</h2>
  </app-sub-title>
</div>
<div class="locationContainer">
  <app-card
    [data]="data"
    [pageStatus]="registerPageStatus"
    [show]="true"
    (status)="modalRepresetReq($event)"
    (id)="idRes($event)"
    (delItemId)="locationDelId($event)"
    (delItemModalAction)="delItemModalActionHandler($event)"
  >
  </app-card>
</div>
<div *ngIf="status">
  <app-modal
    [width]="975"
    [height]="805"
    [status]="status"
    (close)="closeHandler($event)"
  >
    <app-location-detail [id]="id" />
  </app-modal>
</div>
<div *ngIf="delItemModalAction =='delItemModalAction'">
  <app-modal
  [width]="456"
  [height]="288"
  [status]="true"
  (close)="closeHandler($event)"
  >
    <div class="questionBox">🗑️</div>
    <h3>선택한 장소를 삭제하시겠습니까?</h3>
    <p>선택한 장소는 내일 00:00 삭제 됩니다.</p>
    <button
      class="modalConfirm"
      mat-raised-button
      (click)="locationDel()"
    >삭제</button>
  </app-modal>
</div>
