.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
}
.imgBox {
  width: 275px;
  height: 350px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  transform: translate(80px,20px);
}
.imgBox img {
  width: 100%;
  height: 100%;
}
h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 53px;
}
.descBox{
  width:45%;
}
.descBox .detailBox{
  transform: translate(50px,60px);
}

.descBox .detailBox h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.descBox .detailBox p {
  font-size: 20px;
  padding-bottom: 15px;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.addInfo{
  background-color: #F4F4F4;
  width: 55%;
  overflow-y: auto;
}

.addInfo h2{
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  transform: translate(0px,50px);
}

.addInfo .categoryBox {
  background-color: red;
  width: 3.8em;
  background: rgba(18, 170, 115, 0.18);
  color: #7d7d7d;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 0.5em;
  text-align: center;
  transform: translate(221%, 160%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------ */


.menuBox {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  transform: translate(0px,100px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.menuBox span {
  padding-bottom: 10px;
  font-weight: bold;
}
.menuBox span:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
}

.menuBox span:nth-child(3) {
  font-weight: 300;
}
.menuBox span:nth-child(3) {
  font-weight: 300;
}

.addInfo button{
  transform: translate(0px,50px);
  font-size: 23px;
  font-weight: bold;
  margin: 100px 200px;
  padding: 30px 20px;
}
