<div class="modalContainer">
  <div class="titleBox">
    <h1>{{data.title}}</h1>
  </div>
    <div class="modalContent">
      <div class="descBox">
        <div class="imgBox">
          <img class="locationImg" mat-card-image *ngIf="data.img; else loading" [src]="data.img"/>
          <ng-template #loading>이미지 없음</ng-template>
        </div>
        <div class="detailInfoTitle">
          <h2>상세정보</h2>
        </div>
        <div class="detailContainer">
          <div class="detailBox">
            <div class="markerBox">
              <img src="app/assets/marker.png" />
              <p>{{ data.addr }}</p>
            </div>
            <div class="phoneBox">
              <img src="app/assets/phone.png" />
              <p>{{ data.phonenum }}</p>
            </div>
            <div class="timeBox">
              <img src="app/assets/time.png" />
              <p>운영시간 : 준비예정</p>
            </div>
            <p class="breakTime">휴게시간 : 준비예정</p>
          </div>
        </div>
      </div>
      <div class="empty"></div>
      <div class="addInfo">
        <ul class="nav">
          <li
            (click)="changeInfo = false"
            [ngClass]="changeInfo ? 'inActive' : ''"
          >
            <img *ngIf="!changeInfo" src="app/assets/menu.png" />
            <img *ngIf="changeInfo" src="app/assets/menuDisable.png" />
            메뉴보기
          </li>
          <li

            (click)="changeInfo = true"
            [ngClass]="changeInfo ? '' : 'inActive'"
          >
            <img *ngIf="!changeInfo" src="app/assets/reviewDisable.png" />
            <img *ngIf="changeInfo" src="app/assets/review.png" />
            <span style="font-size: 11px">리뷰서비스(Comming Soon!)</span>
          </li>
        </ul>
        <div class="menuContainer" *ngIf="changeInfo == false">
          <div class="category">
            {{ data.category }}
          </div>
          <div class="menuBox" *ngFor="let menuData of menuDataList">
            <div class="menuBoxInner">
              <h3>{{ menuData.menu }}</h3>
              <div class="line"></div>
              <p>
                {{
                menuData.price == "" ? "가격정보 없음" :  menuData.price
                }}
              </p>
            </div>
            <span>
              {{
              menuData.description == "" ? "상세설명 없음" : menuData.description
              }}
            </span>
          </div>
        </div>
        <!--  메뉴, 리뷰 컨테이너 경계  -->
        <div class="reviewContainer" *ngIf="changeInfo == true">
          <div class="reviewHeader">
            <div class="reviewScore">
              <h3>사용자 총 평점</h3>
              <div class="inner">
                <div class="starRating">
                  <div class="star" *ngFor="let index of [1, 2, 3, 4, 5]">
                    <img *ngIf="index <= 3" src="app/assets/starFill2.png"/>
                    <img *ngIf="index > 3" src="app/assets/starEmpty2.png"/>
                  </div>
                </div>
                <span>3</span>
              </div>
            </div>
            <div class="reviewCount">
              <h3>전체 리뷰수</h3>
              <span>20</span>
            </div>
          </div>
          <!--  reviewList가 들어갈 컴포넌트 장소  -->
          <ul class="reviewList">
            <app-review-list></app-review-list>
          </ul>
        </div>
      </div>
  </div>
</div>
