.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
}
.imgBox {
  width: 275px;
  height: 350px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  transform: translate(80px,20px);
}
.imgBox img {
  width: 100%;
  height: 100%;
}
h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 53px;
}
.descBox{
  width:45%;
}
.descBox .detailBox{
  transform: translate(50px,60px);
}

.descBox .detailBox h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.descBox .detailBox p {
  font-size: 20px;
  padding-bottom: 15px;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.addInfo{
  background-color: #F4F4F4;
  width: 55%;
  height: 805px;
  overflow-y: auto;
}

.menuContainer h2{
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  transform: translate(0px,50px);
}

.addInfo .categoryBox {
  background-color: red;
  width: 6em;
  background: rgba(18, 170, 115, 0.18);
  color: #7d7d7d;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 0.5em;
  text-align: center;
  transform: translate(183px, 60px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------ */


.menuBox {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  transform: translate(0px,100px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.menuBox span {
  padding-bottom: 10px;
  font-weight: bold;
}
.menuBox span:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
}

.menuBox span:nth-child(3) {
  font-weight: 300;
}
.menuBox span:nth-child(3) {
  font-weight: 300;
}

.addInfo button{
  position: fixed;
  bottom:-70px;
  font-size: 24px;
  font-weight: bold;
  margin: 100px 200px;
  padding : 30px 10px;
  background-color: #D2ECE3;
}

.reviewContainer h2{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top:40px;
  margin-bottom: 50px;
}
.reviewContainer h3{
  font-size: 20px;
  font-weight: 600;
}
.reviewContainer span{
  font-size: 30px;
  font-weight: 600;
  color:#5A5A5A;
}

.reviewContainer img{
  width:200px;
}
.reviewCount{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*별점*/
:host {
  display: block;
}
.star-rating {
  display: flex;
}

.reviewHeader{
  display: flex;
  justify-content: space-around;
  padding-bottom: 18px;
  border-bottom: 3px solid #DDD9D9;
}

.reviewScore{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.star img{
  width:33px;
  height:33px;
  margin-bottom: 10px;
}

.reviewList{
  height: 453px;
  overflow: auto;
}
